* {
    margin: 0;
    background-color: #F7F5F2;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/***************************************************************************/
                            /*      HEADER      */
/***************************************************************************/

.header {
    height: 20vh;
    background-color: #F56D91;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
    font-family: Tahoma, sans-serif;
    border: 1px solid black;
}

.header .logo {
    background-color: transparent;
    height: 10vh;
    width: 10vw;
    transition: all 0.5s ease-in-out;
    margin-right: 5%;
}

.header h1 {
    color: #F7F5F2;
    background-color:  transparent;
    font-size: 2.5em;
    text-shadow: 1px 2px 5px black;
}

.header .logo:hover {
    height: 17vh;
    width: 17vw;
    transform: rotate(-12deg) translate(0px,40px);
    margin-right: -14%;
}

/***************************************************************************/
                            /*      BODY        */
/***************************************************************************/

.body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw;
}

.card {
    border: 2px solid #8D8DAA;
    border-radius: 8px;
    width: 25vw;
    height: 60vh;
    margin: 3vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 1px 1px 5px black;
    transition: all 0.3s ease-in;
    min-height: 300px;
    min-width: 350px;
}

#dicky-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card h2 {
    margin: 10% 5%;
    font-size: 1.5em;
    text-align: center;
}

.card:hover {
    background-color: #6969a110;
    margin: 2vh 0.5vw;
    width: 26vw;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 5px black;
}

.reasons, .countdown, .dog-pic {
    background-color: transparent;
}

.dog-pic img {
    width: 15em;
    max-height: 40vh;
    border: 1px solid #8D8DAA;
    box-shadow: 1px 1px 5px black;
    border-radius: 8px;
    margin-top: 10%;
}

.card-heading, .card-content {
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card-content {
    text-align: center;
}

#timer {
    margin-top: 40%;
    font-size: 2em;
}

.body p {
    color: #8D8DAA;
    margin: 0 8%;
    font-size: 2em;
}

.reasons > .card-content {
    margin-top: 40%;
}

/***************************************************************************/
                            /*      FOOTER      */
/***************************************************************************/

.footer {
    background-color: #8D8DAA;
    border: 1px solid black;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%;
}

.footer small {
    background-color: transparent;
    font-size: 1em;
}